<!-- views/answer.ejs -->
<%- include("./partials/header.ejs")%>
</head>
<body>
<section class="d-flex align-items-stretch">
<%- include("./partials/side_navbar.ejs")%>

<div class="container question-content-wrapper">
    <div class="top-bar d-flex align-items-center  questionheader justify-content-between">
            <h1 class="title-question">Question on <%= topic %></h1>
            
            <a href="/topic/answer" class="btn btn-outline-secondary">Back to topic</a>
    </div>
    <div class="answer_container">
        <form class="form" method="post">
            <input type="hidden" id="question" name="question" value="<%= data.question %>">
            <input type="hidden" id="marks" name="marks" value="<%= data.marks %>">
            <input type="hidden" id="topic" name="topic" value="<%= topic %>">
            <h1 class="title"><%= data.question %></h1>
            <%if(!locals.abcd){%>
            <label for="answer" class="form-label">Answer:</label>
            <textarea id="answer" name="solution" rows="5" cols="50" class="Input-Box" placeholder="Enter your answer here" onkeypress="handleKeyPress(event)"></textarea>
            <button type="submit" class="btn btn-primary submit-btn">Submit</button>
            <%}%>
            <h3 class="marks">Marks: <%= data.marks %></h3>
        </form>
        <% if(locals.abcd){%>

            <%if(data.marks==abcd.response.marks_awarded_to_student){%>
                <div class="alert alert-success" role="alert">
                    Correct Answer Hoorah 🥳!!
                </div>
                <div class="marks_awarded">Marks awarded:<%=abcd.response.marks_awarded_to_student%></div>
                <div class="feedback">
                <div class="api-feedback"><%-abcd.response.feedback%></div>
                <div class="statement">The answer you gave was <%-user_solution%></div>
                </div>
                
            <%} else{%>
            <div class="alert alert-danger" role="alert">
                    Wrong Answer 😔!!
                <div class="marks_awarded">Marks awarded:<%=abcd.response.marks_awarded_to_student%></div>
                <div class="feedback"><%-abcd.response.feedback%></div>
            </div>
            <%}%>
        <%}%>
    </div>
</div>
</section>
</body>
</html>

<%- include("./partials/footer.ejs") %>
