<!-- views/answer.ejs -->
<%- include("./partials/header.ejs")%>

<%- include("./partials/navbar.ejs")%>

<div class="container-wrapper">
    <div class="answer_container">
        <h1 class="title">Question on <%= topic %></h1>
        <form class="form" method="post">
            <input type="hidden" id="question" name="question" value="<%= data.question %>">
            <input type="hidden" id="marks" name="marks" value="<%= data.marks %>">
            <h1 class="title"><%= data.question %></h1>

            <label for="answer" class="form-label">Answer:</label>
            <input type="text" id="answer" name="solution" class="form-control form-input" placeholder="Enter your answer here">
            <button type="submit" class="btn btn-primary submit-btn">Submit</button>
            <h3 class="marks">Marks: <%= data.marks %></h3>
        </form>
    </div>
</div>
</body>
</html>
