<!-- views/topic.ejs -->

<%- include("./partials/header.ejs")%>
<%- include("./partials/navbar.ejs")%>

    <h1 class="topic">Select a Topic</h1>
    <div class="buttonWrapper">
        <% topics.forEach(topic => { %>
            <a class="btn btn-primary" href="/answer?topic=<%=topic.name%>" role="button"><%= topic.name%></a>
        <% }); %>
</div>
</body>
</html>

<%- include('./partials/footer.ejs') %>